:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-900: 2.125rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 1rem;
}

@media (min-width: 40rem) {
  :root {
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.75rem;
    --fs-600: 2.125rem;
    --fs-900: 4.25rem;
  }
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.3;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  padding: 1.5rem;
}

[class*="bg-"] {
  border-radius: var(--br);
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
/* typography */

h1,
h2,
h3,
.section-subtitle,
.text-serif {
  font-family: var(--ff-serif);
  font-weight: var(--fw-200);
}

.text-500 {
  font-size: var(--fs-500);
}

.page-title {
  font-size: var(--fs-900);
}

.page-intro {
  font-size: var(--fs-600);
}

.section-title {
  font-size: var(--fs-600);
  color: var(--clr-neutral-400);
}

.section-subtitle {
  font-size: var(--fs-600);
}

.btn {
  display: inline-block;
}

/* general layout */

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1em);
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * {
  flex-basis: 100%;
}

.split > * + * {
  margin: 2.5rem 0 0 0;
}

.xl-space {
  margin-top: 5rem;
}

@media (min-width: 40rem) {
  .split {
    flex-direction: row;
  }
  .split > * + * {
    margin: 0 0 0 2.5rem;
  }
}

/* homepage layout */

.home .page-title {
  margin-bottom: 1.25em;
}
