body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 3em;
  margin-bottom: 0;
}

.text-accent {
  color: #00a1ab;
}

.fs-500 {
  font-size: 1.3125rem;
  margin-top: 0;
}

.plans {
  display: flex;
  justify-content: center;
}

.plan {
  width: 200px;
  padding: 2em;
  border-radius: 1em;
  margin: 0 0.5em;
}

.plan--light {
  color: #4e4e4e;
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
}

.plan--accent {
  color: #fff;
  background: linear-gradient(-45deg, #00a1ab, #3741a0);
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

.button {
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
}

.button--light {
  background: white;
  color: #4e4e4e;
}

.button--dark {
  color: white;
  background: #4e4e4e;
}
