/* Font used
font-family: 'PT Sans', sans-serif; 
*/

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* general styling */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.hero {
  background-image: url(assets/hero.jpg);
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero__content {
  background-color: rgba(255, 255, 255, 1);
  width: 48rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  text-align: center;
}
