:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}






















/* /////////////////
   Layout related
   no need to touch any of this
//////////////////*/

.candidates {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 2em;
}

.candidate {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "img social"
    "name name"
    "role role"
    "bio bio"
    "button button";
  gap: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 500px) {
  .candidate {
    grid-template-columns: min-content minmax(15rem, 22.5rem);
    grid-template-areas:
      "img name"
      "img role"
      "img bio"
      "social button";
  }
}

@media (min-width: 960px) {
  .candidates {
    grid-template-columns: repeat(2, 1fr);
  }
}

.candidate img {
  grid-area: img;
}
.candidate .name {
  grid-area: name;
}
.candidate .roles {
  grid-area: role;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .social {
  grid-area: social;
}
.candidate .btn {
  grid-area: button;
}
