/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
  --flow-space: 3rem;
}

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}

.split {
  display: flex;
  flex-direction: column;
  /* gap: var(--spacer); */
}

.split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * + * {
    margin: 0 0 0 var(--spacer);
  }
}

.shadow {
  box-shadow: var(--box-shadow);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
}

.text-accent {
  color: var(--clr-accent-400);
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

/* general layout */

section {
  padding: 4.125rem 0;
}

@media (min-width: 40em) {
  section {
    padding: 8.125rem 0;
  }
}

/* individual sections */

.join-now li::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: var(--clr-accent-400);
  position: absolute;
  z-index: -1;
  transform: translate(-0.5rem, -0.5rem);
}

.cta {
  background-image: url(assets/cta-bg.jpg);
  background-size: cover;
  text-align: center;
}
